<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABTmjyOyNPkBBdcsIRtgTwze36fz8D2LM</string>
	<key>GCM_SENDER_ID</key>
	<string>31406524389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.InbredTechno.Zizzle</string>
	<key>PROJECT_ID</key>
	<string>zizzle-1ad7c</string>
	<key>STORAGE_BUCKET</key>
	<string>zizzle-1ad7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31406524389:ios:690102ef62b5ad4067110c</string>
</dict>
</plist>